<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Russo+One&display=swap" rel="stylesheet">
</head >
    <body style="font-family: 'Rubik Mono One', sans-serif; font-size: 50px">

        {% block content %}

        <ul>
            <li style="margin-top: 50px">
                <div style="display: flex; align-items: center; width: 1500px; justify-content: space-between;">
                    <div>
                        Кол-во зарегистрированных вчера пользователей
                    </div>
                    <div style="margin-left: 10px">
                        -
                    </div>
                    <div style="margin-left: 10px; font-size: 100px">
                        {{ amount_of_system_users }}
                    </div>
                </div>
            </li>


            <li style="margin-top: 50px">
                <div style="display: flex; align-items: center; width: 1500px; justify-content: space-between;">
                    <div>
                        Кол-во человек, которые подписались на инстаграмм странички (вчера)
                    </div>
                    <div style="margin-left: 10px">
                        -
                    </div>
                    <div style="margin-left: 10px; font-size: 100px">
                        {{ amount_of_instagram_subs }}
                    </div>
                </div>
            </li>


            <li style="margin-top: 50px">
                <div style="display: flex; align-items: center; width: 1500px; justify-content: space-between;">
                    <div>
                        Кол-во человек, которые подписались на телеграм странички (вчера)
                    </div>
                    <div style="margin-left: 10px">
                        -
                    </div>
                    <div style="margin-left: 10px; font-size: 100px">
                        {{ amount_of_telegram_subs }}
                    </div>
                </div>
            </li>


            <li style="margin-top: 50px">
                <div style="display: flex; align-items: center; width: 1500px; justify-content: space-between;">
                    <div>
                        Кол-во человек, которые подписались на группу в вк (вчера)
                    </div>
                    <div style="margin-left: 10px">
                        -
                    </div>
                    <div style="margin-left: 10px; font-size: 100px">
                        {{ amount_of_vk_subs }}
                    </div>
                </div>
            </li>

        </ul>

        {% endblock content %}

    </body>
</html>

