{% extends 'base.html' %}

{% block carrot %}
    <!-- Carrot quest BEGIN -->
    <script type="text/javascript">
    !function(){function t(t,e){return function(){window.carrotquestasync.push(t,arguments)}}if("undefined"==typeof carrotquest){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//cdn.carrotquest.app/api.min.js",document.getElementsByTagName("head")[0].appendChild(e),window.carrotquest={},window.carrotquestasync=[],carrotquest.settings={};for(var n=["connect","track","identify","auth","oth","onReady","addCallback","removeCallback","trackMessageInteraction"],a=0;a<n.length;a++)carrotquest[n[a]]=t(n[a])}}(),carrotquest.connect("42083-c5cbf07ce7e3c9363e0bb9df9e");
    </script>
    <!-- Carrot quest END -->
{% endblock %}

{% block title %}Настройки{% endblock %}

{% block body_class %}theme{% endblock %}

{% block content %}
	{% include 'subscribe_pages/nav.html' %}
    <div class="bar_viel"></div>
	<div class="content">

		<div class="content_top flex__align">
			<div class="content_left flex__align">
				<div class="content_burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="content_logo">
					<div class="logo">Teleport</div>
				</div>
			</div>
			<div class="content_user flex__align" id="user-desktop">
				<div class="content_user_name">{{ request.user.username }}</div>
			</div>
		</div>

		<div class="content_inner">
			<div class="content_title">Настройки</div>
			<form method="POST" class="content_form">
                {% csrf_token %}
                {{ form.user_change_form_name }}
				<div class="content_form_title">Редактирование профиля <span></span></div>
{#				<div class="content_form_ava images__wrapper flex__align">#}
{#					<div class="ava images">#}
{#						<img>#}
{#					</div>#}
{#					<div class="content_form_ava_btn">#}
{#                        {{ form.avatar }}#}
{#						<label class="btn btn-outline" for="ava">Загрузить фото</label>#}
{#					</div>#}
{#				</div>#}
				<div class="content_form_input">
					<div class="content_form_label">Имя пользователя</div>
					<div class="input">
						<input class="input" readonly="readonly" type="text" value="{{ request.user.username }}">
					</div>
				</div>
				<div class="content_form_input">
					<div class="content_form_label">Email адрес</div>
					<div class="input">
                        {{ form.email }}
						<div class="input_err">{{ form.email.errors }}</div>
					</div>
				</div>
				<div class="content_form_btn">
					<input type="submit" class="btn btn-red" value="Сохранить">
				</div>
            </form>
            <form method="POST" class="content_form">
                {% csrf_token %}
                {{ second_form.password_change_form_name }}
				<div class="content_form_input">
					<div class="content_form_label">Старый пароль</div>
					<div class="input input__password">
                        {{ second_form.old_password }}
						<div class="input_err">{{ second_form.old_password.errors }}</div>
						<span class="icon icon-eye"></span>
					</div>
				</div>
				<div class="content_form_input">
					<div class="content_form_label">Новый пароль</div>
					<div class="input input__password">
                        {{ second_form.new_password1 }}
                        <div class="input_err">{{ second_form.new_password1.errors }}</div>
						<span class="icon icon-eye"></span>
					</div>
				</div>
				<div class="content_form_input">
					<div class="content_form_label">Подтверждение нового пароля</div>
					<div class="input input__password">
                        {{ second_form.new_password2 }}
						<div class="input_err">{{ second_form.new_password2.errors }}</div>
						<span class="icon icon-eye"></span>
					</div>
				</div>
				<div class="content_form_btn">
                    <input type="submit" value="Сохранить" class="btn btn-red">
				</div>
			</form>
		</div>
	</div>
{% endblock %}
