
{% extends 'base.html' %}

{% block carrot %}
    <!-- Carrot quest BEGIN -->
    <script type="text/javascript">
    !function(){function t(t,e){return function(){window.carrotquestasync.push(t,arguments)}}if("undefined"==typeof carrotquest){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//cdn.carrotquest.app/api.min.js",document.getElementsByTagName("head")[0].appendChild(e),window.carrotquest={},window.carrotquestasync=[],carrotquest.settings={};for(var n=["connect","track","identify","auth","oth","onReady","addCallback","removeCallback","trackMessageInteraction"],a=0;a<n.length;a++)carrotquest[n[a]]=t(n[a])}}(),carrotquest.connect("42083-c5cbf07ce7e3c9363e0bb9df9e");
    </script>
    <!-- Carrot quest END -->
{% endblock %}

{% block title %}Туториалы{% endblock %}

{% block body_class %}theme{% endblock %}

{% block content %}
	{% include 'subscribe_pages/nav.html' %}
    <div class="bar_viel"></div>

 	<div class="content">

		<div class="content_top flex__align">
			<div class="content_left flex__align">
				<div class="content_burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="content_logo">
					<div class="logo">Teleport</div>
				</div>
			</div>
			<div class="content_user flex__align" id="user-desktop">
				<div class="content_user_name">{{ request.user.username }}</div>
			</div>
		</div>

		<div class="content_inner">
			<div class="content_title">Обучающие материалы</div>
			<div class="content_nav_wrapper">
				<div class="content_nav flex">
					<div class="content_nav_li active" id="1">
						<div class="btn">Логика сервиса</div>
					</div>
					<div class="content_nav_li" id="2">
						<div class="btn">Меню сервиса</div>
					</div>
					<div class="content_nav_li" id="3">
						<div class="btn">Меню подписных страниц</div>
					</div>
					<div class="content_nav_li" id="4">
						<div class="btn">Создание подписных страниц</div>
					</div>
					<div class="content_nav_li" id="5">
						<div class="btn">Таргет</div>
					</div>
				</div>
			</div>
			<div class="tutorial">
				<div class="tutorial_li content__li content_li-1">
					<div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/hID6hjxLFXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Логика сервиса</div>
						<div class="video_text">Просмотрев видео “Логика сервиса” вы получите детальную информацию о взаимодействии с сервисом. Узнаете, как привлечь и увеличить поток  подписчиков и много деругое</div>
					</div>
                    <div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/hG2lYEh0UYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Настройка страниц для Вконтакте</div>
						<div class="video_text">Видео ответит на следующие вопросы: <br/>- Как набрать подписчиков в сообщество вк?<br/>- Как настроить страницы для Вконтакте?</div>
					</div>
				</div>
				<div class="tutorial_li content__li content_li-2">
					<div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/-aY2A-sYtBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Меню сервиса</div>
{#						<div class="video_text">Видео “Меню сервиса” расскажет как взаимодействовать с сервисом. Проведет Вас по всем пунктам меню и даст подробную характеристику каждому разделу</div>#}
					</div>
				</div>
				<div class="tutorial_li content__li content_li-3">
					<div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/sJ5-1aQFPiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Меню Подписных страниц</div>
{#						<div class="video_text">Видео Меню "Подписных страниц” расскажет как взаимодействовать с сервисом. Проведет Вас по всем пунктам меню и даст подробную характеристику каждому разделу</div>#}
					</div>
				</div>
				<div class="tutorial_li content__li content_li-4">
					<div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/9TdIo_tgQMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Создание подписных страниц</div>
{#						<div class="video_text">Просмотрев видео “Логика сервиса” вы получите детальную информацию о взаимодействии с сервисом. Узнаете, как привлечь и увеличить поток  подписчиков и много деругое</div>#}
					</div>
				</div>
				<div class="tutorial_li content__li content_li-5">
					<div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/opDqCoNbtqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Настройка таргета</div>
{#						<div class="video_text">Просмотрев видео “Логика сервиса” вы получите детальную информацию о взаимодействии с сервисом. Узнаете, как привлечь и увеличить поток  подписчиков и много деругое</div>#}
					</div>
				</div>
				<div class="tutorial_li content__li content_li-5">
					<div class="video_block">
						<div class="video">
							<iframe src="https://www.youtube.com/embed/qJc_XBKYnck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="video_title">Настройка пикселя Facebook</div>
{#						<div class="video_text">Просмотрев видео “Логика сервиса” вы получите детальную информацию о взаимодействии с сервисом. Узнаете, как привлечь и увеличить поток  подписчиков и много деругое</div>#}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
