@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {


}

@media (max-width: 576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .background-picture {
        max-height: 200px;
    }

    main.profile-page .wrapper {
        padding-top: 200px;
    }

    main.profile-page .wrapper:after {
        top: 188px;
        height: calc(100% - 188px);
    }

    main.promo-page .wrapper:after {
        top: 200px;
        height: calc(100% - 200px);
    }

    main.promo-page .wrapper {
      padding-top: 240px;
    }

    main.promo-page .promo-title {
        font-size: 24px;
    }

    main.promo-page .advantages p,
    main.promo-page .advantages ul {
        font-size: 16px;
    }

    main.profile-page .profile-content .user-info .user-title,
    main.profile-page .profile-content .user-info p {
        font-size: 16px;
        margin-top: 0;
    }

    main.profile-page .profile-content .avatar {
        width: 100px;
        height: 100px;
        top: -50px;
    }

    main.profile-page .profile-content .user-info {
        padding-top: 70px;
    }

    main.profile-page .container .profile-amount_item:not(:last-child):after {
        width: 2px;
        height: 25px;
    }

    main.profile-page .container .profile-amount_text {
        font-size: 13px;
    }

    .user-content {
        padding: 22px 10px 22px 10px;
    }
    .user-content .content {
        font-size: 14px;
    }

    .user-content .content-icon {
        margin-right: 18px;
    }

    .modal {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 374px) {

}
