{% block content %}

<ul>
    <li>
        <div style="display: flex; align-items: center; width: 1000px; justify-content: space-between;">
            <div style="margin-top: 50px; font-weight: 800; font-size: 50">
                Кол-во зарегистрированных вчера пользователей
            </div>
            <div style="font-weight: 800; font-size: 50">
                -
            </div>
            <div style="font-size: 100; font-weight: 800; margin-left: 20px">
                {{ amount_of_system_users }}
            </div>
        </div>
    </li>


    <li>
        <div style="display: flex; align-items: center; width: 1000px; justify-content: space-between;">
            <div style="margin-top: 50px; font-weight: 800; font-size: 50">
                Кол-во человек, которые подписались на инстаграмм странички (вчера)
            </div>
            <div style="font-weight: 800; font-size: 50">
                -
            </div>
            <div style="font-size: 100; font-weight: 800; margin-left: 20px">
                {{ amount_of_instagram_subs }}
            </div>
        </div>
    </li>


    <li>
        <div style="display: flex; align-items: center; width: 1000px; justify-content: space-between;">
            <div style="margin-top: 50px; font-weight: 800; font-size: 50">
                Кол-во человек, которые подписались на группу в вк (вчера)
            </div>
            <div style="font-weight: 800; font-size: 50">
                -
            </div>
            <div style="font-size: 100; font-weight: 800; margin-left: 20px">
                {{ amount_of_vk_subs }}
            </div>
        </div>
    </li>

</ul>

{% endblock content %}
