{% extends 'base.html' %}

{% block carrot %}
    <!-- Carrot quest BEGIN -->
    <script type="text/javascript">
        !function () {
            function t(t, e) {
                return function () {
                    window.carrotquestasync.push(t, arguments)
                }
            }

            if ("undefined" == typeof carrotquest) {
                var e = document.createElement("script");
                e.type = "text/javascript", e.async = !0, e.src = "//cdn.carrotquest.app/api.min.js", document.getElementsByTagName("head")[0].appendChild(e), window.carrotquest = {}, window.carrotquestasync = [], carrotquest.settings = {};
                for (var n = ["connect", "track", "identify", "auth", "oth", "onReady", "addCallback", "removeCallback", "trackMessageInteraction"], a = 0; a < n.length; a++) carrotquest[n[a]] = t(n[a])
            }
        }(), carrotquest.connect("42083-c5cbf07ce7e3c9363e0bb9df9e");
    </script>
    <!-- Carrot quest END -->
{% endblock %}

{% block title %}Домены{% endblock %}

{% block body_class %}theme{% endblock %}

{% block content %}
    {% include 'subscribe_pages/nav.html' %}
    <div class="bar_viel"></div>
    <!-- Content. -->
    <div class="content">
        <div class="content_top flex__align">
            <div class="content_left flex__align">
                <div class="content_burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="content_logo">
                    <a href="/" class="logo">Teleport</a>
                </div>
            </div>
            <div class="content_user flex__align" id="user-desktop">
                <div class="content_user_name">{{ request.user.username }}</div>
            </div>
        </div>

        <div class="privacy_policy content_inner domain_">
            <div class="content_title">Инструкция</div>
            {#            <div class="privacy_policy_title title">Политика конфиденциальности</div>#}
            <div class="privacy_policy_title">
                Как привязать свой домен?<br/>
                <span>
                    Инструкция по настройке своего домена
                </span>
            </div>
            <div class="partner_li content__li content_li-4">
                <div class="partner_text">
                    <p>
                        К <span class="partner_title">instateleport.ru</span> можно сделать привязку домена и поддомена
                        (например, если на основном домене находится ваш сайт). Для привязки домена/поддомена
                        необходимо:
                    </p>
                    <p>
                        1. Авторизоваться в личном кабинете хостинга (где хранится ваш домен);
                    </p>
                    <p>
                        2. Найти настройки DNS записей домена (ресурсных записей);
                    </p>
                    <p>
                        3. Если у вас уже есть записи на домене / поддомене, к которому вы делайте привязку - удалите их
                        (А-записи, АААА-записи, CNAME).
                    </p>
                    <p>
                        <span class="partner_title">ВАЖНО:</span> Записи необходимо удалить, так как они помешают привязке домена / поддомена, или
                        привязке сертификата безопасности.
                    </p>
                    <p>
                        4.1 Если вы привязывайте основной домен к <span class="partner_title">instateleport.ru</span> (например: domain.com)
                        создайте А-запись с значением <span class="partner_title">"62.109.7.205"</span>.
                    </p>
                    <p>
                        При создании записи, необходимо указать ее имя. У некоторых регистраторов домена нужно указать
                        полный
                        адрес вашего домена (например: domain.com), а в других, указать только знак "@" (то есть получится
                        конструкция "@.domain.com").
                    </p>
                    <p>
                        Желательно обратиться в техподдержку вашего регистратора домена, для уточнения формата, в котором
                        требуется указание.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- Content. -->
{% endblock %}
