{% extends 'base.html' %}

{% block carrot %}
    <!-- Carrot quest BEGIN -->
    <script type="text/javascript">
    !function(){function t(t,e){return function(){window.carrotquestasync.push(t,arguments)}}if("undefined"==typeof carrotquest){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//cdn.carrotquest.app/api.min.js",document.getElementsByTagName("head")[0].appendChild(e),window.carrotquest={},window.carrotquestasync=[],carrotquest.settings={};for(var n=["connect","track","identify","auth","oth","onReady","addCallback","removeCallback","trackMessageInteraction"],a=0;a<n.length;a++)carrotquest[n[a]]=t(n[a])}}(),carrotquest.connect("42083-c5cbf07ce7e3c9363e0bb9df9e");
    </script>
    <!-- Carrot quest END -->
{% endblock %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
	<div class="sign flex">
		<div class="sign_logo">
			<a href="{% url 'users:head' %}" class="logo">Teleport</a>
		</div>
		<div class="sign_img flex__align">
			<img src="/media/images/sign-forgot_icon.svg" alt>
		</div>
		<div class="sign_form flex__align">
			<div class="sign_form_inner">
				<div class="sign_title">Восстановление пароля</div>
				<form method="post">
				<div class="sign_input">
					<div class="sign_label">Email адрес</div>
					<div class="input">
						{% csrf_token %}
						{{ form.email }}
<!--						<div class="input">-->
<!--							<input type="email" placeholder="Введите Email ">-->
<!--							<div class="input_err">Текст ошибки</div>-->
<!--						</div>-->
					</div>
				</div>
				<div class="sign_btn">
					<input type="submit" class="btn" value="Отправить письмо">
				</div>
				</form>
				<div class="sign_center_href"><a class="hover__line" href="{% url 'users:login' %}">Войти</a></div>
			</div>
		</div>
	</div>
{% endblock %}
